.TaskWrapper {
    background: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    width: 70%;
    height: 100%;
    margin-left: 10%;
}

